.antenna {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $section-bgc;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.future-section {
  padding-top: 94px;
  padding-bottom: 0;
  display: block;
}
.future {
  display: flex;
  margin: 0;
  padding: 0;
}
.future-tittle:not(:last-child) {
  margin-right: 30px;
}
.future-tittle {
  width: 270px;
}
.subtitle {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: $main-font-size;
  line-height: 16px;
  letter-spacing: $main-letter-spacing;
  text-transform: uppercase;
  color: $title-text-color;
}
.description {
  line-height: 1.71;
  letter-spacing: 0;
}
