a {
  text-decoration: none;
  display: block;
}

li {
  list-style: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
h2,
h3 {
  color: $title-text-color;
}
body {
  background-color: $primary-bgr;
  color: $primary-text-color;
  position: relative;
  letter-spacing: $main-letter-spacing;
  font-weight: normal;
  font-size: $main-font-size;
  font-family: $main-font-family;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
